discord.py[voice]>=1.2.3
aiodns
aiofiles
aioredis
asyncpg
async-timeout
azure-storage
brotli
# google-cloud-vision
gspread
gspread_asyncio
humanize
mem_top
numpy
oauth2client
opencv-python
pandas
pytz
requests
uptime
wavelink
